HTTP_CACHE_PROVIDER=varnish
HTTP_CACHE_SECRET=dev-http-cache-secret
HTTP_CACHE_DEBUG_HEADERS=true
VARNISH_HTTP_CACHE_TAG_HEADER=Surrogate-Key
VARNISH_HTTP_CACHE_SURROGATE_CONTROL_HEADER=Surrogate-Control
VARNISH_HTTP_CACHE_PURGE_URL=
VARNISH_HTTP_CACHE_PURGE_METHOD=PURGE
