HTTP_CACHE_PROVIDER=cloudflare
HTTP_CACHE_SECRET=dev-http-cache-secret
HTTP_CACHE_DEBUG_HEADERS=true
CLOUDFLARE_HTTP_CACHE_ZONE_ID=replace-with-zone-id
CLOUDFLARE_HTTP_CACHE_API_TOKEN=replace-with-api-token
CLOUDFLARE_HTTP_CACHE_TAG_HEADER=Cache-Tag
CLOUDFLARE_HTTP_CACHE_CDN_CACHE_CONTROL_HEADER=CDN-Cache-Control
CLOUDFLARE_HTTP_CACHE_CONTROL_HEADER=Cloudflare-CDN-Cache-Control
CLOUDFLARE_HTTP_CACHE_PURGE_BY_TAGS=true
