HTTP_CACHE_PROVIDER=caddy
HTTP_CACHE_SECRET=dev-http-cache-secret
HTTP_CACHE_DEBUG_HEADERS=true
CADDY_HTTP_CACHE_HANDLER=souin
CADDY_HTTP_CACHE_TAG_HEADER=X-Cache-Tags
CADDY_HTTP_CACHE_SOUIN_TAG_HEADER=Souin-Cache-Tags
