HTTP_CACHE_PROVIDER=nginx
HTTP_CACHE_SECRET=dev-http-cache-secret
HTTP_CACHE_DEBUG_HEADERS=true
NGINX_HTTP_CACHE_TAG_HEADER=X-Cache-Tags
NGINX_HTTP_CACHE_ACCEL_EXPIRES_HEADER=X-Accel-Expires
NGINX_HTTP_CACHE_EMIT_ACCEL_EXPIRES=true
NGINX_HTTP_CACHE_PURGE_URL=
NGINX_HTTP_CACHE_PURGE_METHOD=PURGE
